.editor-styles-wrapper.block-editor-writing-flow p{
	font-family: 'Lato', sans-serif;
	color: #000;
}

h1, h2, h3, h4, h4, h5, h6{
	 font-family: 'Montserrat', sans-serif;
	 font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
	 line-height: 1.25em;
	margin: 0;
	padding: 0;
}

.fancy{
	font-family: 'Yesteryear', cursive;
	color: #930000;
	font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

.menu{
	font-family: 'Lato', sans-serif;
}

.acc-head{
	font-family: 'Montserrat', sans-serif;
}

.wp-block-columns{
	gap: 0 2em !important;
}

.wp-block-column{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.reverse-columns{
	flex-direction: row-reverse;
}

