body,
html {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #e3e3e3;
    color: #3e3e3e;
    line-height: 1.5em;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto
}

.all {
    display: block;
    position: relative;
    clear: both;
    margin-left: 0;
    transition: all 1s;
    float: left;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.all.fade {
    width: 100vw;
    left: 260px
}

body.fade {
    overflow: hidden
}

.full.center {
    text-align: center
}

btn,
.btn {
    font-family: 'Lato', sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: #999;
    padding: 8px 8px 8px 14px;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .63);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .63);
    color: #efefef;
    letter-spacing: .5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 12px;
    margin: 30px auto 0 auto;
    cursor: pointer;
    transition: all 0.5s
}

btn:hover,
.btn:hover {
    color: #333;
    background-color: #ccc;
    border-width: 1px;
    border-style: solid;
    border-color: #333
}

btn a,
.btn a {
    color: #fff;
    text-decoration: none
}

ul,
p {
    font-weight: 400;
    line-height: 1.5em;
    font-size: 18px;
    margin: 0 0 1.5em 0;
    font-family: 'Lato', sans-serif
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%
}

.full ul li {
    list-style: circle;
    display: block;
    float: left;
    width: calc(50% - 20px);
    padding: 0;
    margin: 0;
    transition: all 0.5s
}

a {
    color: #000;
    text-decoration: none
}

p span .material-icons {
    font-size: 16px
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: .125em;
    text-transform: uppercase;
    line-height: 1.25em;
    font-size: calc(75% + 2vw)!important;
    display: block;
    position: relative;
    clear: both
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .25em;
    font-size: 24px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #333;
    font-size: calc(90% + .75vw)!important;
    margin: 0 0 20px 0;
    display: block;
    position: relative;
    clear: both;
    padding: 0 0 10px 0
}

h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .125em;
    font-size: 18px;
    font-size: calc(90% + .4vw)!important;
    margin: 0 0 10px 0
}

.center {
    text-align: center
}

img {
    max-width: 100%!important;
    height: auto
}

.dark {
    background-color: #212121;
    color: #efefef
}

.light {
    background-color: #e3e3e3;
    color: #333
}

.panel {
    display: block;
    position: relative;
    clear: both;
    height: auto;
    width: calc(100% - 60px);
    padding: 0 30px 0 30px;
    margin: 0 0 60px 0;
    float: left
}

.panel-overlay {
    position: absolute;
    width: calc(100% + 60px);
    height: 100%;
    top: 0;
    left: -30px;
    background-color: rgba(255, 255, 255, .4);
    -webkit-box-shadow: inset 0 0 15px 0 #000;
    box-shadow: inset 0 0 15px 0 #000;
    z-index: 0
}

.panel-overlay.dark {
    background-color: rgba(0, 0, 0, .4)
}

.vid-bg-box {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow: hidden
}

.video_background {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden
}

.full-panel {
    display: table;
    position: relative;
    height: 100vh;
    min-height: 100%;
    width: calc(100% - 60px);
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    clear: both;
    overflow: hidden
}

.half-panel {
    display: table;
    position: relative;
    height: 50vh;
    min-height: 400px;
    margin: 0 auto 120px auto;
    width: 100%;
    background-size: calc(100vh + 75vw);
    background-repeat: no-repeat;
    background-position: center top;
    clear: both;
    overflow: hidden;
    background-attachment: scroll;
    -webkit-transition: background-size 0.5s;
    transition: background-size 0.5s;
    background-color: #000
}

@media (max-width:760px) {
    .full-panel {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

.main-content {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: calc(100% - 60px);
    padding: 0
}

.cover-title-image {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 700px!important;
    opacity: .7
}

.full-panel .main-content,
.panel .main-content,
.half-panel .main-content {
    width: calc(100%)
}

.middle {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 100%
}

.top {
    display: block;
    position: relative;
    width: 100%
}

.full {
    display: block;
    float: none;
    position: relative;
    clear: both;
    margin: 0 auto 0 auto;
    width: calc(100% - 60px)
}

.break {
    display: block;
    position: relative;
    clear: both;
    top: 40px;
    padding: 0 0 40px 0
}

.full.break {
    margin: 0 0 40px 30px
}

.row {
    display: inline-block;
    position: relative;
    clear: both;
    width: 100%;
    height: auto;
    padding: 0 0 20px 0
}

.half {
    display: block;
    float: left;
    width: calc(50% - 60px)
}

.sixty {
    display: block;
    float: left;
    width: calc(60% - 60px)
}

.forty {
    display: block;
    float: left;
    width: calc(40% - 60px)
}

.forty img {
    width: 100%;
    height: auto
}

.third {
    display: block;
    float: left;
    width: calc(33.3% - 60px)
}

.quarter {
    display: block;
    float: left;
    width: calc(25% - 30px)
}

.three-quarters {
    display: block;
    float: left;
    width: calc(75% - 30px)
}

.full,
.half,
.third,
.quarter,
.three-quarters,
.sixty,
.forty {
    padding: 10px 30px 40px 30px;
    transition: all 0.5s;
    text-align: left
}

.half p img {
    width: 100%;
    max-width: calc(100% - 60px)!important;
    height: auto;
    display: block;
    position: relative;
    margin: 20px 0 20px 0!important
}



ul .material-icons {
    font-size: inherit
}


.shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .63);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .63)
}

.no-shadow {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}


.side-buttons {
    right: -50px;
    height: 40px;
    position: fixed;
    width: 40px;
    background-color: #000;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    color: #fff;
    font-size: 24px;
    transition: all 0.5s;
    opacity: .6;
    cursor: pointer;
    z-index: 9999;
    text-align: center
}

.side-buttons:hover {
    opacity: 1
}

.show-side {
    right: 0
}

.side-buttons .material-icons {
    font-size: 26px;
    display: block;
    position: absolute;
    margin: 7px 0 0 7px;
    opacity: .6
}





.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 29px;
    cursor: context-menu;
    opacity: .6;
    transition: all 0.5s;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    padding-top: 7px
}

.menu-btn:hover {
    opacity: 1
}

.menu {
    top: 0;
    left: -290px;
    position: fixed;
    background-color: #111;
    width: 280px;
    height: 100%;
    z-index: 999;
    color: #efefef;
    transition: all 0.75s
}

.show-menu {
    left: 0
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.menu ul li {
    display: block;
    color: #efefef;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.5s;
    letter-spacing: .25em;
    font-weight: 700;
    text-indent: 10px
}

.menu ul li a {
    display: block;
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: #efefef
}

.menu ul li:hover {
    background-color: #333
}

.menu-title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    color: #999;
    font-size: 18px
}

.close-menu {
    position: absolute;
    top: 9px;
    right: 0;
    width: 40px;
    height: auto;
    opacity: .6;
    transition: all 0.5s;
    cursor: pointer
}

.close-menu:hover {
    opacity: 1
}

.menu-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    display: none;
    opacity: .8
}


.btt-footer {
    display: none;
    bottom: 0;
    left: 0;
    height: 37px;
    position: fixed;
    z-index: 99;
    width: 100%;
    text-align: center;
    opacity: .3
}

.btt-footer img {
    padding: 5px 10px 6px 10px;
    width: 50px;
    background-color: #000;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0
}

.back-to-top {
    height: 80px;
    width: 40px;
    background-color: #000;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    transition: all 0.5s;
    opacity: .6;
    cursor: pointer;
    text-align: center
}

.back-to-top img {
    display: block;
    position: relative;
    width: 80%;
    margin: 10px auto 0 auto
}

@media (max-width:960px) {
    .quarter,
    .three-quarters,
    .sixty,
    .forty {
        width: calc(50% - 60px);
        float: left
    }
    .third {
        width: calc(100% - 30px)
    }
    .lower-copy .content div p img {
        width: 100%;
        max-width: 100%;
        display: block;
        position: relative;
        margin: 20px 0 20px 0!important;
        float: none!important
    }
}

@media (max-width:860px) {
    .full ul li {
        list-style: circle;
        display: block;
        float: left;
        width: calc(100% - 20px);
        padding: 0;
        margin: 0
    }
}

@media (max-width:760px) {
    .quarter,
    .half,
    .three-quarters,
    .sixty,
    .forty,
    .full,
    .third {
        width: 100%;
        display: block;
        position: relative;
        float: none;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0
    }
    .pull-right,
    .pull-left {
        float: none!important;
        display: block;
        position: relative;
        margin: 0 auto
    }
}



.standard-img,
.widescreen-img,
.sixteen-nine,
.pal {
    max-height: calc(100vh - 122px);
    max-width: calc(100vw - 122px);
    position: relative;
    margin: 0 auto;
    display: none
}

.show {
    display: block
}

.hide {
    display: none
}

.vid-holder video,
.vid-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url(https://s3.amazonaws.com/imglibs/video_bg.png);
    background-position: center center;
    background-repeat: no-repeat
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}